{#
/**
 * @file
 * animation
 *
 */
#}

<div class="pin-container">
  <div class="pin-wrapper">
    {% include '@atoms/image/image.twig' with {
      'img_attributes': 'class="image image-class"',
      'variant': 'primary',
      'src': 'images/wave-hero-micro.png'} %}
    <div class="demo-text-1 demo-text-1-class">Demo text</div>
  </div>
</div>
