{#
/**
 * @file
 * animation-3
 *
 */
#}
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="parallax-image2">
  {% include '@atoms/image/image.twig' with {
    'img_attributes': '',
    'variant': 'primary',
    'src': 'images/elgato-wave-link.jpg'} %}
</div>
<div class="parallax-section2">
  <div class="headline-container">
    <div class="headline">
      GENIAL KONZIPIERT
    </div>
    <div class="subheadline">
      Elegantes Design. Kristallklares Audio. Wave:1 spielt seine Rolle perfekt, ohne dir die Show zu stehlen.
    </div>
  </div>
  {% include '@atoms/image/image.twig' with {
    'img_attributes': 'class="parallax-image22"',
    'variant': 'primary',
    'src': 'images/wave-hero-micro.png'} %}
</div>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>