{#
/**
 * @file
 * animation-2
 *
 */
#}
<div class="spacer"></div>
<div>
  {% include '@atoms/image/image.twig' with {
    'img_attributes': 'class="lax" data-lax-scale="0 1, 50 1, 200 0 | speed=0.2"',
    'variant': 'primary',
    'src': 'images/wave-hero-micro.png'} %}
</div>
<div class="spacer"></div>
<div class="spacer"></div>