{#
/**
 * @file
 * animation-3
 *
 */
#}
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
{% include '@atoms/image/image.twig' with {
  'img_attributes': 'class="parallax-image2"',
  'variant': 'primary',
  'src': 'images/elgato-wave-link.jpg'} %}
<div class="parallax-container2">
  {% include '@atoms/image/image.twig' with {
    'img_attributes': 'class="image-background"',
    'variant': 'primary',
    'src': 'images/wave-hero-micro.png'} %}
  <section class="headline-container">
    <div class="headline">
      GENIAL KONZIPIERT
    </div>
    <div class="subheadline">
      Elegantes Design. Kristallklares Audio. Wave:1 spielt seine Rolle perfekt, ohne dir die Show zu stehlen.
    </div>
  </section>
  <section class="parallax-image22">
    {% include '@atoms/image/image.twig' with {
      'variant': 'primary',
      'src': 'images/wave-hero-micro.png'} %}
  </section>
</div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>