{#
/**
 * @file
 * animation
 *
 */
#}
<div class="mycontainer">
<p>Test </p>
<p>Test </p>
<p>Test </p>
<p>Test </p>
<p>Test </p>
<p>Test </p>
<p>Test </p>
<p>Test </p>
<p>Test </p><p>Test </p><p>Test </p>

<p class="lax" data-lax-preset="spin fadeInOut">Look at me goooooo!</p>

  <p>Test </p>
  <p>Test </p>
  <p>Test </p>
  <p>Test </p>
  <p>Test </p>
  <p>Test </p>
  <p>Test </p>
  <p>Test </p>

</div>
